@use '../../styles//abstracts/colors.module' as *;

.button {
    background-color: map-get(map-get($map: $colors, $key: primary), 600);
    color: map-get($map: $colors, $key: white);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.7rem;
    cursor: pointer;
    box-shadow: 0 5px 25px 0 rgba($color: #000000, $alpha: 0.25);
    transition: 0.2s ease;

    &:hover {
        background-color: map-get(map-get($map: $colors, $key: primary), 800);
        transform: scale(1.05);
        box-shadow: 0 5px 25px 0 rgba($color: #000000, $alpha: 0.5);
    }
}