$breakpoints: (
    xs: '0px', //phone
    sm: '600px', //tablet
    md: '900px', //laptop
    lg: '1200px', //desktop
    xl: '1539px' //large desktop
);

@each $breakpoint, $value in $breakpoints {
    :export {
        #{unquote($breakpoint)}: $value
    }
}

