@use '../../styles/abstracts/colors.module';


.root {
    background-color: inherit;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @media screen and (max-width: 600px) {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.profile {
    color: map-get(map-get($map: colors.$colors, $key: myGrey), 900);
    position: relative;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
}

.profile__img {
    background-color: white;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile__text {
    display: flex;
    justify-content: center;
    font-size: x-large;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: map-get(map-get($map: colors.$colors, $key: myGrey), 900);
}

.detailWrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    @media screen and (max-width: 600px) {
        // height: 100%;
        width: 100%;
        margin: 20px 0px;
    }
}

.details {
    height: 700px;
    width: 700px;
    padding-left: 20px;
    color: map-get(map-get($map: colors.$colors, $key: myGrey), 700);

    div {
        border-bottom: 1px solid rgb(209, 207, 207);
        padding: 19px;

        strong {
            width: 500px;
        }
    }

    @media screen and (max-width: 600px) {
        // height: 100%;
        width: auto;
    }
}

.detail {
    display: flex;
}

.label {
    width: 300px;
    font-weight: 900;
    color: map-get(map-get($map: colors.$colors, $key: myGrey), 900);
}

.editIcon {
    border-radius: 50%;
    border: 2px solid map-get(map-get($map: colors.$colors, $key: primary), 400);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;

    &:hover {
    background-color: map-get(map-get($map: colors.$colors, $key: primary), 100);
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}