@use './abstracts/colors.module';

.button {
    background-color: map-get(map-get($map: colors.$colors, $key: primary), 600);
    color: map-get($map: colors.$colors, $key: white);
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.7rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
        background-color: map-get(map-get($map: colors.$colors, $key: primary), 800);
        transform: scale(1.05);
    }
}