@use './abstracts/colors.module';
@use './abstracts/breakpoints.module';
@use './abstracts/font.module';


.root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: map-get(map-get($map: colors.$colors, $key: myGrey), 200);

    .contentArea {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: calc(100% - 240px);
    }

    .content {
        background-color: transparent;
        max-width: 1400px;
        width: 90%;
        margin: 4rem auto;
    }
    
    .footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        background-color: map-get(map-get($map: colors.$colors, $key: myGrey), 300);
        height: 5rem;
    };

    @media (min-width: map-get($map: breakpoints.$breakpoints, $key: md)){
        display: flex;
    }
};